{% extends "base.html" %}

{% block title %}Add{% endblock %}

{% block navbar %}
            <div class="topnav">
            <a href="{{ url_for('main.home') }}">Home</a>
            <a href="{{ url_for('main.admin') }}">Admin</a>
            <a class="active" href="{{ url_for('main.add_item') }}">Add Item</a>
            <a href="{{ url_for('main.about') }}">About</a>
            </div>
        {% endblock %}

{% block content %}
<div style="padding-left:16px">
      <h2></h2>
    <form method="POST">
        <label for="inventory_number"><strong>Inventory Number:</strong></label><br>
        <input type="number" id="inventory_number" name="inventory_number" required><br><br>

        <label for="inventory_description"><strong>Description:</strong></label><br>
        <input type="text" id="inventory_description" name="inventory_description" ><br><br>

        <label for="inventory_state"><strong>Inventory State:</strong></label><br>
        <input type="text" id="inventory_state" name="inventory_state" ><br><br>

        <label for="inventory_booked"><strong>Inventory Booked:</strong></label><br>
        <input type="text" id="inventory_booked" name="inventory_booked" ><br><br>

        <button type="submit">Submit</button>
    </form>

</div>
{% endblock %}
