{% extends "base.html" %}

{% block title %}Delete Event{% endblock %}


{% block header %}
            <h1>Delete Event</h1>
{% endblock %}


{% block sidebar %}
    <ul>
        <li>
            <a href="{{ url_for('main.show_events') }}">
                <strong>Home</strong>
            </a>
        </li>
    </ul>
{% endblock %}



{% block content %}
    <h1>Here add content for the Delete Event</h1>
{% endblock %}

{% block footer %}
            <p><strong> <a href="{{ url_for('main.show_assignment') }}">IT School<strong></p>
{% endblock %}



