{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block navbar %}
<div class="topnav">
    <a href="{{ url_for('main.home') }}">Home</a>
    <a class="active" href="{{ url_for('main.admin') }}">Admin</a>
    <a href="{{ url_for('main.add_item') }}">Add Item</a>
    <a href="{{ url_for('main.about') }}">About</a>
    <a href="{{ url_for('main.register') }}">Register</a>
    <a href="{{ url_for('main.login') }}">Login</a>
    <a href="{{ url_for('main.logout') }}">Logout</a>
</div>

<!-- Display the logged-in user -->
<div style="padding: 10px;">
    {% if current_user.is_authenticated %}
        <p>Welcome, <strong>{{ current_user.user_name }}</strong>!</p>
    {% else %}
        <p>Please <a href="{{ url_for('main.login') }}">log in</a>.</p>
    {% endif %}
</div>
{% endblock %}


{% block content %}
<div style="padding-left:16px">
    <h2>Inventory Management</h2>
    <br>
    <br>
    <table border="1">
        <thead>
            <tr>
                <th onclick="sortTable(0)">ID</th>
                <th onclick="sortTable(1)">Inventory Number</th>
                <th onclick="sortTable(2)">Description</th>
                <th onclick="sortTable(3)">State</th>
                <th onclick="sortTable(4)">Booked</th>
                <th onclick="sortTable(5)">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory %}
            <tr>
                <td>{{ loop.index }}</td>
                <form action="{{ url_for('main.admin') }}" method="POST">

                    <td>
                        <input type="text" name="inventory_number" value="{{ item.inventory_number }}" readonly>
                    </td>
                    <td>
                        <input type="text" name="inventory_description" value="{{ item.inventory_description }}">
                    </td>
                    <td>
                        <select name="inventory_state">
                            <option value="OK" {% if item.inventory_state == 'OK' %} selected {% endif %}>OK</option>
                            <option value="Damaged" {% if item.inventory_state == 'Damaged' %}selected{% endif %}>Damaged</option>
                            <option value="Maintenance" {% if item.inventory_state == 'Maintenance' %}selected{% endif %}>Maintenance</option>
                        </select>
                    </td>
                    <td>
                        <input type="text" name="inventory_booked" value="{{ item.inventory_booked }}" readonly>
                    </td>
                    <td>
                        <button type="submit">Update</button>
                    </td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if message %}
<p><strong>{{ message }}</strong></p>
{% endif %}

{% endblock %}